{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Freezer creation</h1>
        </div>
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.capacity) }}
            {{ form_row(form.type) }}
            {{ form_row(form.parlor) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}